@import './Styles/Globals.scss';

html, body {
  width: 100%!important;
  height: 100%!important;
  background-color: $colorBackgroundPrimary!important;
}

h1, h2, h3 {
  color: $colorPrimary;
  text-shadow: 1px 1px #000;
}

h4 {
  color: white
}

p {
  color: $colorSecondary
}

.bodyWrapper {
  width: 70%;
}

@media only screen and (max-width: 700px) {
  .bodyWrapper {
    width: 90%;
  }
}
